<div class="top-gaiyou">
  <div class="gaiyou-name">報告一覧</div>
</div>
    <main class="main">
      <div class="inner">
        <h1 class="page-heading">【腕投稿一覧】</h1>
        <% @posts.each do |post| %>
        <div class="card__wrapper">
          <div class="card">
           <%= image_tag "images/足.webp", class:"card__img" %>
            <div class="card__body">
              <h2 class="card__title">投稿者：<%= post.name %></h2>
              <p class="card__summary">
              <p>一言：<%= post.message %></p>
              </p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
     </main>

