<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
<body>
    <main class="main">
      <div class="first-view">
      <%= image_tag asset_path("images/BO151030535008_TP_V.jpg") %>
        <div class="first-view-textarea">
          <h1 class="catchcopy">変化を恐れる者に<br>微塵の進化なし</h1>
          <p class="subtext">オーバーワークは己の捉え方次第</p>
        </div>
      </div>

      <div class="upper-contents">
        <div class="heading-name">M U S C L E</div>
        <div class="messages">
              <div class="message-date">それは<br>最高の「趣味」であり<br>理想の体の「最適解」</div>
        </div>
        <div class="sub-message">No Pump, no growth</div>
        <a href="/contact/:id" class="service-btn-about">詳しくはこちら</a>
     </div>

      <div class="services-section">
        <p class="services-section-bar">あなたのワークアウトはどこから？</p>
        <div class="service-cardarea">

          <div class="service-card">
          <%= image_tag "images/足.webp", class:"service-img" %>
            <div class="service-textarea">
              <img src="" alt="" class="service-logo">
              <h2 class="service-description">脚を鍛えた方</h2>
              <a href="/posts/leg" class="service-btn">一覧はこちら</a>
            </div>
          </div>

          <div class="service-card">
          <%= image_tag "images/腹筋.jpg", class:"service-img" %>
            <div class="service-textarea">
              <img src="" alt="" class="service-logo">
              <h2 class="service-description">腹筋を鍛えた方</h2>
              <a href="/posts/fukkin" class="service-btn">一覧はこちら</a>
            </div>
          </div>

          <div class="service-card">
          <%= image_tag "images/腕.jpg", class:"service-img" %>
            <div class="service-textarea">
              <img src="" alt="" class="service-logo">
              <h2 class="service-description">腕を鍛えた方</h2>
              <a href="/posts/arm" class="service-btn">一覧はこちら</a>
            </div>
          </div>

        </div>
      </div>
      <div class="upper-contents2">
        <div class="heading-name">C O N T A C T</div>
        <div class="biglogo">
          筋トレ愛好会
        </div>
        <div class="small-logo">Muscle Training</div>
        <div class="contact-message">小林部長への直接的な質問、大歓迎でお待ちしております。<br>また、当ページへの要望・質問も承ります。<br>部活動内企画等も、お待ちしております。ex.貸し切りジム合同トレーニング等</div>
        <a href="/contact" class="service-btn-about">お問い合わせ</a>
     </div>

      <div class="google-contents">
        <div class="google-message">access</div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5815915449894!2d139.6984019152583!3d35.66267898019855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca891abb0c9%3A0x1b8655f6f62790d1!2z44CSMTUwLTAwNDEg5p2x5Lqs6YO95riL6LC35Yy656We5Y2X77yR5LiB55uu77yR77yS4oiS77yR77yWIOOCouOCuOOCouODk-ODqyA4Rg!5e0!3m2!1sja!2sjp!4v1605737561629!5m2!1sja!2sjp" 
        width=90% height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="sub-google-message">住所：東京都渋谷区神南1丁目12-16アジアビル8F<br>電話：080-4372-0050</div>
      </div>
    

    </main>
</body>
