<body>
<div class="top-gaiyou">
  <div class="gaiyou-name">報告一覧</div>
</div>
    <main class="main">
    <h1 class="arm-page-heading">【総合一覧】</h1>
      <div class="arm-inner">
        <% @posts.each do |post| %>
        <%= link_to post_path(post.id),  :style=>"color:black;",method: :get do %>
        <div class="arm-card__wrapper">
          <div class="arm-card">
          <%= image_tag "images/足.webp", class: "arm-card__img" %>
            <div class="card__body">
              <h2 class="card__title">投稿者：越川雄貴</h2>
              <p class="card__summary">
              <p>鍛えた部位：腕</p>
              <p>一言：こんにちは、鍛えたやつの投稿だよ</p>
              </p>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
     </main>

</body>