<meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
<div class="update-top-gaiyou">
  <div class="update-gaiyou-name">
    <h3>更新が完了しました。</h3>
    <a class="btn" href="/posts/list">投稿一覧へ戻る</a>
  </div>
</div>