<meta name=”viewport” content=”width=device-width,initial-scale=1.0″>

<div class="top-gaiyou">
<div class="gaiyou-name">問い合せ</div>
</div>

<div class="contact">
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeGDAJiHfWwdxa8xlPVxudbq9YZaHs8_Dky5pGdClpmKASDAA/viewform?embedded=true" width=500 height="959" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
</div>