<body>
<div class="contenter">
      <div class="hedde-contents">
        <div class="hedde-name">筋トレ愛好会とは？</div>
              <div class="message-date2">1,筋トレを通じて<br>　　　　良質な人間関係を構築すること<br><br>
              2,筋トレを通じて<br>　　　　自己肯定感を高めること</div>
        <div class="sub-message2">筋トレを通じて人生を豊かにする部活です</div>
     </div>
 </div>
     <div class="services-section">
     <p class="services-section-bar">部長紹介（メッセージ）</p>
     <div class="daihyou-name-contact">部長コメント</div>
     <div class="top-gaiyou2">
        <div class="image-daihyou">
          <%= image_tag 'images/LCKEmczw12B1ndP1606616443_1606616527.jpg', size: '510x420' ,class: "kobayashi-btn-icon" %>
        </div>
        <div class="daihyou-message">
        <li>
          <div class="kobayashi">小林章寿(29)</div>
          <div class="yokuwakaran">
          「君の体がよく鍛錬されていて、<br>自分に自信があれば、<br>君のことに好意を持ち、君のそばにいたくなり、君のために何かしたいと思ってくれる人に<br>出会うだろう」byセクシャル
          <p>　　</p>
          <p>あなたの入部をいつでも待っています。</p>
          </div>
        </li>
        </div>
     </div>
  <div class="top-gaiyou">
    <div class="gaiyou-name-contact">愛好会概要</div>
  </div>
  <div class="oogaiyou">
  <table border="0" width=auto>
  <tr class="gaiyou">
    <th nowrap>団体名a　</th>
    <td>筋トレ愛好会　　　　　　　　　　　　　　　　　</td>
  </tr>
  <tr class="gaiyou">
    <th nowrap>事業内容</th>
    <td>食事制限・増量募集<br>
    短期・中期目標共有<br>筋トレの成果報告　　　　　　　　　　　　　　　</td>
  </tr>
  <tr class="gaiyou">
    <th nowrap>部長　　</th>
    <td>小林章寿　　　　　　　　　　　　　　　　　　　</td>
  </tr>
  <tr class="gaiyou">
    <th nowrap>設立　　</th>
    <td>2019年　　　　　　　　　　　　　　　　　　　</td>
  </tr>
  <tr class="gaiyou">
    <th nowrap>従業員数</th>
    <td>71名 　　　　　　　　　　　　　　　　　　　　</td>
  </tr>
  <tr class="gaiyou">
    <th nowrap>所在地　</th>
    <td>東京都渋谷区神南1丁目12-16アジアビル8F</td>
  </tr>
</table>
  </div>
  <div class="google-contents">
<div class="google-message">access</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.5815915449894!2d139.6984019152583!3d35.66267898019855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ca891abb0c9%3A0x1b8655f6f62790d1!2z44CSMTUwLTAwNDEg5p2x5Lqs6YO95riL6LC35Yy656We5Y2X77yR5LiB55uu77yR77yS4oiS77yR77yWIOOCouOCuOOCouODk-ODqyA4Rg!5e0!3m2!1sja!2sjp!4v1605737561629!5m2!1sja!2sjp" 
width=100% height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
<div class="sub-google-message">住所：東京都渋谷区神南1丁目12-16アジアビル8F<br>電話：080-4372-0050</div>
</div>

</body>