/* .arm-top-gaiyou{
    width: auto;
    padding-top: 145px;
    font-size: 40px;
    text-align: center;
    border-bottom: 3px  gray;
  }
  .arm-gaiyou-name{
    font-size: 60px;
    text-align: center;
    color: black;
    border-bottom: 3px solid black;
    width: 400px;
    font-weight: bold;
    margin: auto;
    margin-bottom: 50px;
  }
.arm-page-heading{
    font-size: 30px;
    margin-bottom: 28px;
    margin-left: 200px;
}
.arm-inner{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 20px;

}
.arm-card__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: calc((100% - 50px) / 3);
    display: flexbox;
    margin-bottom: 40px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin-top: 20px;
} */
