  button,
  input,
  select,
  textarea {
    font-size: 80%;
    margin: 10px;
  }
  .top-gaiyou{
    width: auto;
    padding-top: 130px;
    font-size: 40px;
    text-align: center;
    border-bottom: 3px  gray;
  }
  .gaiyou-name{
    font-size: 40px;
    text-align: center;
    color: black;
    border-bottom: 3px solid black;
    width: 200px;
    font-weight: bold;
    margin: auto;
  }
   
  
  .row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 800px;
    *zoom: 1;
  }  
  body {
    padding-top: 60px;
  }
  
  body {
    line-height: 1.57;
    letter-spacing: 0.10em;
    font-size: 19px;
    font-weight: bold;
    color: black;
    background-color: #F2F2F2;
  }
  form input,
  form textarea {
    width: 100%;
    margin: 5px 0px 10px;
    padding: 10px;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    font-family: "游ゴシック", "YuGothic";
  }
  
  form input[type="submit"] {
    background-color: #CC0000;
    border-radius: 20px;
    color: #fff;
    border: 0;
    font-size: 18px;
  }
  
  form input[type="submit"]:hover {
    background-color: red;
  }

  .container {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
    background-color: white;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .container h3 {
    margin: 0 0 20px;
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    color: black;
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
  }
  
  footer {
    margin: 30px auto;
    padding: 10px;
    color: #D8D8D8;
  }
  
  
  #preview img {
    width: 200px;
    margin: 10px;
    border: solid 1px silver;
  }