.update-top-gaiyou{
    width: auto;
    padding-top: 205px;
    padding-bottom: 250px;
    font-size: 40px;
    text-align: center;
    border-bottom: 3px  gray;
    color: black;
    text-decoration: none;
    background-color: white;
  }
  .update-gaiyou-name{
    font-size: 40px;
    text-align: center;
    color: black;
    border-bottom: 3px solid black;
    width: 600px;
    font-weight: bold;
    margin: auto;
<<<<<<< HEAD
    text-decoration: none;
=======
>>>>>>> 840a05f90a4b000372fff82b210a635f062307a7
  }